body{
    margin: 0%;
    padding: 0%;
    display: flex;
}
header{
    width: 100%;
    
    top: 0;
    position: absolute;
}
#titre1{
    text-align: center;
    color: pink;
    font-weight: bold;
    font-size: 40px;
}
#titre2{
    text-align: center;
    color: pink;
    font-size: 30px;
    font-weight: bold;
}
p{
    font-size: 25px;
}
#rose{
    height: auto;
    width: 15%;
    margin-top: -100px;
    float:right;
    margin-right: 300px;
    
}

#presentation{    
    width: 100%;
    display: inline-flex;
    align-items: center;
    margin-left: 15%;
    margin-top: 15%;
    position: absolute;
}

#perrine{
    width: 20%;
}

#textPresentation{
    padding-left: 10%;
}

.title{
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
    padding-top: 10%;
}

#dessins1{
    height: 50px;
    width: 100%;
    margin-top: 60%;

}

#description1{
    display: inline-flex;
    padding-left:5%;
    width: 100%;
}
.description1_1{
    text-align: center;
    padding-left: 25%;
}

#image1{
    width: 17%;
    padding-right: 15%;
    height: auto;
    padding-left: 5%;
}

.image1_1{
    display: center;
    width: 17%;
    transform: rotate(90deg);
}

#image1_2{
    width: 25%;
    height: auto;
}

#description2{
    display: inline-flex;
    padding-left: 5%;
    width: 100%;
    padding-top: 10%;
}

.description2_1{
    text-align: center;
    padding-left: 18.5%;
}

#image1_5{
    width: 18%;
    padding-right: 15%;
    height: auto;
    padding-left: 5%;
}

#image1_6{
    width: 17%;
    height: auto;
    padding-left: 4%;
}

#image1_7{
    width: 10.7%;
    height: auto;
    padding-left: 22%;
}

#description3{
    display: inline-flex;
    padding-left:5%;
    width: 100%;
    padding-top: 10%;
}

.description3_1{
    text-align: center;
    padding-left: 24%;
}

#image1_8{
    width: 17%;
    height: auto;
    padding-left: 5%;
}

#image1_9{
    width: 17%;
    height: auto;
    padding-left: 20%; 
    padding-right: 15%;
}

#image1_10{
    display: inline-table;
    width: 20%;
    transform: rotate(90deg);
}

#image1_11{
    width: 20%;
    padding-left: 5%;
}

#image1_12{
    width: 20%;
    padding-left: 10%;
    transform: rotate(90deg); 
    
}

#description5{
    display: inline-flex;
    padding-left:5%;
    width: 100%;
}

#image1_13{
    width: 20%;
    padding-left: 5%;
}

#image1_14{
    width: 20.9%;
    
}

#description6{
    display: inline-flex;
    padding-left:5%;
    width: 100%;
}

#image1_15{
    width: 20%;
    padding-left: 5%;
}

#image1_16{
    width: 20%;
}

#description7{
    display: inline-flex;
    padding-left:5%;
    width: 100%;
}

#description7_1{
    padding-left: 24%;
}

#image1_17{
    width: 20%;
    padding-left: 5%;
}

#image1_18{
    width: 19.3%;
    padding-left: 15%;
}

#image1_19{
    width: 20.3%;
    padding-left: 17%;
}

#description8{
    display: inline-flex;
    padding-left:5%;
    width: 100%;
    padding-top: 10%;
}

#image1_20{
    width: 20%;
    padding-left: 5%;
}

#image1_21{
    width: 20%;
    padding-left: 5%;
}

#image1_22{
    width: 22.8%;
    padding-left: 5%;
}

#image1_23{
    width: 36.5%;
    padding-left: 5%;
}


#image1_24{
    width: 33.3%;
    padding-left: 5%;
    padding-top: 10%;
}

#image1_25{
    width: 23%;
    padding-left: 5%;
}


#image1_27{
    width: 20%;
    padding-left: 5%;
    padding-top: 10%;
}

#image1_28{
    width: 21.2%;
    padding-left: 15%
}

#image1_30{
    width: 33.3%;
    padding-left: 5%;
}

#image1_31{
    width: 33.3%;
    padding-left: 5%;
}

#image1_32{
    width: 16.6%;
    padding-left: 5%;
}

#image1_33{
    width: 33.3%;
    padding-left: 5%;
    padding-top: 10%;
}

#boutton{
    padding: 5%;
}