body{
    margin: 0%;
    padding: 0%;
    display: flex;
}
header{
    width: 100%;
    
    top: 0;
    position: absolute;
}
#titre1{
    text-align: center;
    color: pink;
    font-weight: bold;
    font-size: 40px;
}
#titre2{
    text-align: center;
    color: pink;
    font-size: 30px;
    font-weight: bold;
}
p{
    font-size: 25px;
}
#rose{
    height: auto;
    width: 15%;
    margin-top: -100px;
    float:right;
    margin-right: 300px;
    
}

#bou{
    block-size: 1050px;
    writing-mode: horizontal-tb;
    background-color: darkgreen;
    border: 0%;
    border: transparent;
    width: 25%;
    margin-top: -11%;
}

#presentation{    
    width: 100%;
    display: inline-flex;
    align-items: center;
    margin-left: 15%;
    margin-top: 15%;
    position: absolute;
}

#perrine{
    width: 20%;
    border: 20px white solid;
}

#textPresentation{
    padding-left: 10%;
}

.title{
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
    padding-top: 20%;
}

#dessins1{
    height: 50px;
    width: 100%;
    margin-top: 60%;

}

#description1{
    display: inline-flex;
    padding-left:5%;
    width: 100%;
}
.description1_1{
    text-align: center;
    padding-left: 25%;
}

#image1{
    width: 17%;
    padding-right: 15%;
    height: auto;
    padding-left: 5%;
}

.image1_1{
    display: center;
    width: 17%;
    transform: rotate(90deg);
}

#image1_2{
    width: 25%;
    height: auto;
}

#description2{
    display: inline-flex;
    padding-left: 5%;
    width: 100%;
    padding-top: 10%;
}

.description2_1{
    text-align: center;
    padding-left: 17%;
}

#image1_5{
    width: 18%;
    padding-right: 15%;
    height: auto;
    padding-left: 5%;
}

#image1_6{
    width: 17%;
    height: auto;
    padding-left: 4%;
}

#image1_7{
    width: 10.7%;
    height: auto;
    padding-left: 22%;
}

#description3{
    display: inline-flex;
    padding-left:5%;
    width: 100%;
    padding-top: 10%;
}

.description3_1{
    text-align: center;
    padding-left: 24%;
}

#image1_8{
    width: 17%;
    height: auto;
    padding-left: 5%;
}

#image1_9{
    width: 17%;
    height: auto;
    padding-left: 20%; 
    padding-right: 15%;
}

#image1_10{
    display: inline-table;
    width: 20%;
    transform: rotate(90deg);
}

#image1_11{
    width: 20%;
    padding-left: 5%;
}

#image1_12{
    width: 20%;
    padding-left: 10%;
    transform: rotate(90deg); 
    
}

#description5{
    display: inline-flex;
    padding-left:5%;
    width: 100%;
}

#image1_13{
    width: 20%;
    padding-left: 5%;
}

#image1_14{
    width: 20.9%;
    
}

#description6{
    display: inline-flex;
    padding-left:5%;
    width: 100%;
}

#image1_15{
    width: 20%;
    padding-left: 5%;
}

#image1_16{
    width: 20%;
}

#description7{
    display: inline-flex;
    padding-left:5%;
    width: 100%;
}

#description7_1{
    padding-left: 22%;
}

#image1_17{
    width: 20%;
    padding-left: 5%;
}

#image1_18{
    width: 19.3%;
    padding-left: 15%;
}

#image1_19{
    width: 20.3%;
    padding-left: 17%;
}

#description8{
    display: inline-flex;
    padding-left:5%;
    width: 100%;
    padding-top: 10%;
}

#image1_20{
    width: 20%;
    padding-left: 5%;
}

#image1_21{
    width: 20%;
    padding-left: 5%;
}

#image1_22{
    width: 22.8%;
    padding-left: 5%;
}

#image1_23{
    width: 36.5%;
    padding-left: 5%;
}


#image1_24{
    width: 33.3%;
    padding-left: 5%;
    padding-top: 10%;
}

#image1_25{
    width: 23%;
    padding-left: 5%;
}


#image1_27{
    width: 20%;
    padding-left: 5%;
    padding-top: 10%;
}

#image1_28{
    width: 21.2%;
    padding-left: 15%
}

#image1_30{
    width: 33.3%;
    padding-left: 5%;
}

#image1_31{
    width: 33.3%;
    padding-left: 5%;
}

#image1_32{
    width: 16%;
    padding-left: 5%;
}

#image1_33{
    width: 33.3%;
    padding-left: 5%;
    padding-top: 5%;
}

#boutton{
    padding-left: 45%;
    padding-top: 2%;
    padding-bottom: 10%; 
    width: 20%;
    height: 20%;
}

#body2{
    margin: 0%;
    padding: 0%;
    display: flex;
}

#titre3{
    text-align: center;
    color: pink;
    font-weight: bold;
    font-size: 40px;
    padding-top: 5%;
}

#image2_1{
    width: 33.3%;
    padding-left: 5%;
    padding-top: 10%;
}

#image2_2{
    width: 17.5%;
    padding-left: 5%;
}

#image2_3{
    width: 33.3%;
    padding-left: 5%;
}

#image2_4{
    width: 20%;
    padding-left: 5%;
    padding-top: 10%;
}

#image2_5{
    width: 18.5%;
}

#image2_6{
    width: 18.7%;
    padding-left: 15%;
}

#image2_7{
    width: 20%;
    padding-left: 5%;
    padding-top: 10%;
}

#image2_8{
    width: 20%;
}

#image2_9{
    width: 20%;
    padding-left: 15%;
}

#image2_10{
    width: 20%;
    padding-left: 5%;
    padding-top: 10%;
}

#image2_11{
    width: 20%;
    padding-left: 15%;
}

#image2_12{
    width: 20%;
    padding-left: 15%;
}

#image2_13{
    width: 20%;
    padding-left: 5%;
}


#image2_14{
    width: 20%;
    padding-left: 15%;
}


#image2_15{
    width: 20%;
    padding-left: 15%;
}

#image2_16{
    width: 20%;
    padding-left: 15%;
}

#image2_17{
    display: inline-flex;
    width: 21%;
    padding-left: 5%;
    padding-top: 10%;
}

#image2_20{
    width: 23.3%;
    padding-left: 5%;
    padding-top: 10%;
}

#image2_21{
    width: 16.7%;
    padding-left: 15%;
}





#image2_22{
    width: 20%;
    padding-left: 5%;
    padding-top: 10%;
}


#image2_23{
    width: 37.3%;
    padding-left: 5%
}


#image2_24{
    width: 19%;
    padding-left: 5%;
}


#image2_25{
    width: 33.3%;
    padding-left: 5%;
    padding-top: 10%;
}


#image2_26{
    width: 39.3%;
    padding-left: 5%;
}


#image2_27{
    width: 20%;
    padding-left: 5%;
    padding-top: 10%;
}



#image2_28{
    width: 49%;
    padding-left: 5%;
}


#image2_29{
    width: 20%;
    padding-left: 5%;
    padding-top: 10%;
}

#image2_31{
    width: 17.4%;
    padding-left: 10%;
}


#image2_32{
    width: 35.3%;
    padding-left: 10%;
}


#image2_33{
    width:33.3%;
    padding-left: 5%;
    padding-top: 10%;
}


#image2_34{
    width: 44.3%;
    padding-left: 5%;
}


#image2_35{
    width: 29%;
    padding-left: 5%;
    padding-top: 10%;
}


#image2_36{
    width: 20%;
    padding-left: 10%;
}


#image2_37{
    width: 21.7%;
    padding-left: 10%;
}


#image2_38{
    width: 20%;
    padding-left: 5%;
    padding-top: 10%;
}


#image2_39{
    width: 40.4%;
    padding-left: 5%;
}


#image2_40{
    width: 24%;
    padding-left: 4%;
}


#image2_42{
    width: 20%;
    padding-left: 5%;
    padding-top: 10%;
}


#image2_43{
    width: 26.7%;
    padding-left: 10%;
}


#image2_44{
    width: 20.5%;
    padding-left: 10%;
}


#image2_45{
    width: 20%;
    padding-left: 5%;
    padding-top: 10%;
}


#image2_46{
    width: 19%;
    padding-left: 10%;
}

#image2_47{
    width: 37.3%;
    padding-left: 5%;
    padding-top: 10%;
}

#image2_49{
    width: 20%;
    padding-left: 5%;
}

#image2_50{
    width: 20%;
    padding-left: 5%;
}


#image2_52{
    width: 15%;
    padding-left: 5%;
}

#image2_53{
    width: 39%;
    padding-left: 2%;
}

#image2_54{
    width: 33%;
    padding-left: 2%;
}

#image2_55{
    width: 30%;
    padding-left: 5%;
    padding-top: 10%;
}

#image2_56{
    width: 30%;
    padding-left: 1%;
}

#image2_57{
    width: 32%;
    padding-left: 1%;
}

#image2_58{
    width: 30%;
    padding-left: 5%;
    padding-top: 10%;
    padding-bottom: 10%;
}

#image2_59{
    width: 30%;
    padding-left: 5%;
    padding-bottom: 10%;   
}

#description9{
    display: inline-flex;
    padding-left:5%;
    width: 100%;
}

#description9_1{
    display: inline-flex;
    padding-left:15%;
    width: 100%;
}

#description10{
    display: inline-flex;
    padding-left:5%;
    width: 100%;
}

#description10_1{
    display: inline-flex;
    padding-left:30%;
    width: 100%;
}

#description11{
    display: inline-flex;
    padding-left:5%;
    width: 100%;
}

#description11_1{
    display: inline-flex;
    padding-left:27%;
    width: 100%;
}

#description12{
    display: inline-flex;
    padding-left:5%;
    width: 100%;
}

#description12_1{
    padding-left:20%;
}

#description12_2{
    padding-left:25%;
}

#description13{
    display: inline-flex;
    padding-left:5%;
    width: 100%;
}

#description13_1{
    padding-left:25%;
}

#description13_2{
    padding-left: 10%;
}

#description14{
    display: inline-flex;
    padding-left:15%;
    width: 100%;
}

#description14_1{
    padding-left:28%;
}

#description15{
    display: inline-flex;
    padding-left:15%;
    width: 100%;
}

#description15_1{
    padding-left: 28%;
}

#description16{
    display: inline-flex;
    padding-left:5%;
    width: 100%;
}

#description16_1{
    padding-left: 19%;
}

#description18{
    display: inline-flex;
    padding-left:5%;
    width: 100%;
}

#description18_1{
padding-left:21%;
}

#description19{
    display: inline-flex;
    padding-left:5%;
    width: 100%;
}

#description19_1{
padding-left:10%;
}

#description20{
    display: inline-flex;
    padding-left:5%;
    width: 100%;
}

#description21{
    display: inline-flex;
    padding-left:5%;
    width: 100%;
}

#description22{
    display: inline-flex;
    padding-right: 10%; 
    padding-left:5%;
    width: 100%;
}

#description22_1{
padding-left:10%;
}

#description22_2{
    padding-left:25%;
    }

#description23{
    display: inline-flex;
    padding-left:5%;
    width: 100%;
}

#description23_1{
    padding-left:21.5%;
    }

#description24{
    display: inline-flex;
    padding-left:5%;
    width: 100%;
}

#description25{
    display: inline-flex;
    padding-left:5%;
    width: 100%;
}

#description26{
    display: inline-flex;
    padding-left:5%;
    width: 100%;
}

#description27{
    display: inline-flex;
    padding-left:5%;
    width: 100%;
}

#description28{
    display: inline-flex;
    padding-left:5%;
    width: 100%;
}

#description29{
    display: inline-flex;
    padding-left:5%;
    width: 100%;
}

#description30{
    display: inline-flex;
    padding-left:5%;
    width: 100%;
}

#description31{
    display: inline-flex;
    padding-left:5%;
    width: 100%;
}

#description32{
    display: inline-flex;
    padding-left:5%;
    width: 100%;
}

#description33{
    display: inline-flex;
    padding-left:5%;
    width: 100%;
}

#description34{
    display: inline-flex;
    padding-left:5%;
    width: 100%;
}



